@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html{
	height: 100%;
	box-sizing: border-box;
}
body{
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom:20rem;
	box-sizing: inherit;
	background-color: #ddd;
}
main{
	width: 80%;
	margin: 0 auto;
	padding-top: 32px;
}

/***************************************Navbar*****************************************/

nav{
  display: flex;
  height: 60px;
  width: auto;
  background-image:linear-gradient(to right,black,blue,red);
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  flex-wrap: wrap;
  border-radius: 50px;
  margin:10px;
}
nav .logo a{
	text-decoration:none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}


/***************************************Container*****************************************/

.content .btnlink a{
	text-decoration: none;
	color: black; 
	
}
.content .btnlink{
	margin-top: 20px;
}
.content .btnlink .join{
	
}


/***********************************About/Contact************************************/


.about-us{
  height: auto;
  width: 100%;
  padding: 0;
  background: #ddd;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}
.text ul li{
	font-size:15px;
}
.data{
  margin-top: 30px;
  margin-bottom: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

/***********************************HomeContent************************************/
.homeContent {
  background-color: #ffff80;
  padding: 50px 0;
  height:auto;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.homeContent > div {
  font-size: 44px;
  padding:20px 0;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  
}

.homeContent > p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.btnlink {
	padding:20px 0;
  display: flex;
  justify-content: center;
}

.btnlink a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.btnlink .join {
  background-color: #0072f0;
}
.btnlink .join:hover {
  background-color: #ff0000;
}
.btnlink .learn {
  background-color: #259c40;
}
.btnlink .learn:hover {
  background-color: #ff0000;
}


/***************************************Footer*****************************************/

.content2{
  position: relative;
  margin: 130px auto;
  /*text-align: center;*/
  padding: 0 20px;
}

.content2 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content2 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
.tag{
	text-align: center;	
}
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-image: linear-gradient(to right,gray,#87CEEB,blue);
}


.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 5px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content2{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content2:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content2:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content2 p{
  text-align: justify;
}
.left .content2 .social{
  margin: 20px 0 0 0;
}
.left .content2 .social a{
  padding: 0 2px;
}
.left .content2 .social a span{
  height: 40px;
  width: 40px;
  background: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content2 .social a span:hover{
  background: #f12020;
}
.center .content2 .fas{
  font-size: 1.4375rem;
  background: #ffffff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content2 .fas:hover{
  background: #f12020;
}
.center .content2 .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content2 .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #400040;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: rgb(0, 128, 255);
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #ff8040;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #ff0000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
.main-content .left.box{
	width: 33.33%;
}
.main-content .center.box{
	width: 33.33%;
}
.main-content .right.box{
	width: 33.33%;
}
/********welcome Page**/
.loginContent {
    padding: 20px;
    margin:0 20px 0 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px;
}

.grid-item {
    color:#fff;
    background-image:linear-gradient(to right,black,red);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #e0e0e0;
}

.grid-item h2 {
    margin-bottom: 10px;
}

.grid-item p {
    margin-bottom: 5px;
}
